<div class="container mainContent">
<table class="data">
  <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Project</th>
      <th>Billable</th>
      <th>Allocation</th>
  </thead>
 
  <% @assignments.each do |assignment| %>
      <% if Person.find(assignment.person_id).group_id == @group.id %>
      <tr>
        <td><%= assignment.id %></td>
        <td><a href="<%= people_path(Person.find(assignment.person_id)) %>"><%= Person.find(assignment.person_id).name %></a></td>
        <td><a href="<%= projects_path(Project.find(assignment.project_id)) %>"><%= Project.find(assignment.project_id).name %></a></td>
        <td><%= assignment.billable %></td>
        <td><%= assignment.allocation %></td>
      </tr>   
      <% end %>
    <% end %>
  </table>
</div>

<script type="text/javascript">
$('.data').dataTable();
</script>
