<p id="notice"><%= notice %></p>
<p>
  <strong>ID:</strong>
  <%= @assignment.id %>
</p>

<p>
  <strong>Billable:</strong>
  <%= @assignment.billable %>
</p>

<p>
  <strong>Group ID:</strong>
  <%= @assignment.group_id %>
</p>

<p>
  <strong>Project ID:</strong>
  <%= @assignment.project_id %>
</p>

<p>
  <strong>Person ID:</strong>
  <%= @assignment.person_id %>
</p>

<p>
  <strong>Allocation:</strong>
  <%= @assignment.allocation %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @assignment.startdate %>
</p>
<p>
  <strong>End Date :</strong>
  <%= @assignment.enddate %>
</p>