<div class="col-md-10 col-md-offset-2 main">
  <div class="table-responsive">
    <table class="data table table-striped">
        <thead>
            <th>Name</th>
            <th>Skill</th>
            <th>Relevent Exp.</th>
            <th>Allocation</th>
            <th>Active</th>
            <th>Location</th>
            <% if current_user.admin %>
            <th>Disable</th>
            <% end %>
        </thead>
        <% @people.each do |person| %>
          <%# if person.active? %>
          <% if @group.id == person.group_id %>
            <tr>
              <td><a href="<%= person_path(person) %>"><%= person.name %></a></td>
              <td><%= person.skills %></td>
              <td><%= person.relExp %></td>
              <td><%= person.allocation %></td>
              <td><%= person.active ? "Yes" : "No" %></td>
              <td><%= person.location %></td>

              <% if current_user.admin %>
              <% if person.active? %>
              <td><%= link_to person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do  %>
                <i class="glyphicon glyphicon-ban-circle"></i>
                <% end %>
              </td>
              <% else %>
              <td><%= link_to person_enable_path(person), data: { confirm: 'Are you sure?' } , class: "btn btn-default" do  %>
                <i class="glyphicon glyphicon-ok-circle"></i>
                <% end %>
              </td>
              <% end %>
              <% end %>
            </tr>
          <% end %>    
          <% end %> 
        </table>
        </div>

  </div>
</div>