<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header"><%= @group.name %></h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>####</th>
          <th>Name</th>
          <th>Project</th>
          <th>Billable</th>
          <th>Allocation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1001</td>
          <td><a href="#">Tushar Maroo</a></td>
          <td><a href="#">Firm DIY Survey</a></td>
          <td>YES</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td><a href="#">Ekta Verma</a></td>
          <td><a href="#">Firm DIY Survey</a></td>
          <td>YES</td>
          <td>80%</td>
        </tr>
      </tbody>
    </table>
    <table class="data">
        <thead>
            <th>Name</th>
            <th>Skills</th>
            <th>Totalexp</th>
            <th>Tcsexp</th>
            <th>Releventexp</th>
            <th>Allocation</th>
            <th>Interestareas</th>
            <th>Active</th>
            <th>Location</th>
            <th>Group</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
       
        <% @people.each do |person| %>
          <% if person.active? %>
            <tr>
              <td><a href="<%= person_path(person) %>"><%= person.name %></a></td>
              <td><%= person.skills %></td>
              <td><%= person.totalExp %></td>
              <td><%= person.tcsExp %></td>
              <td><%= person.relExp %></td>
              <td><%= person.allocation %></td>
              <td><%= person.interestAreas %></td>
              <td><%= person.active %></td>
              <td><%= person.location %></td>
              <td><%= Group.find(person.group_id).name %></td>
              <td><%= link_to 'Show', person %></td>
              <td><%= link_to 'Edit', edit_person_path(person) %></td>
              <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>    
          <% end %> 
        </table>
        </div>

<script type="text/javascript">
$('.data').dataTable();
</script>
  </div>
</div>