<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
	  <li class="<% "active" if current_page?("#") %>"><a href="#">Overview</a></li>
	  <li><a href="#" class="btn" data-toggle="modal" data-target="#newPersonModal">Add New Person</a></li>
	  <li><a href="#" class="btn" data-toggle="modal" data-target="#newProjectModal">Add New Project</a></li>
	  <li><a href="<%#= people_path %>">View All Persons</a></li>
	  <li><a href="<%#= group_projects_path(@group.id) %>">View All Projects</a></li>
	  <%# if current_page?group_path(@group) %>
	  <li><a href="<%#= edit_group_path(@group) %>">Settings</a></li>
	  <%# end %>
	</ul>
</div>



<div class="modal fade" id="newPersonModal" tabindex="-1" role="dialog" aria-labelledby="newPersonModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 class="modal-title" id="myModalLabel">New Person</h4>
            </div>
            <div class="modal-body">
                <%= form_for(@person) do |f| %>
				  <div class="field">
				    <%= f.label :name %><br>
				    <%= f.text_field :name %>
				  </div>
				  <div class="field">
				    <%= f.label :skills %><br>
				    <%= f.text_area :skills %>
				  </div>
				  <div class="field">
				    <%= f.label :location %><br>

				    <select id="person_location" name="person[location]">
				      <option value="Mumbai">Mumbai</option>
				      <option value="Banglore">Banglore</option>
				      <option value="Gurgaon">Gurgaon</option>
				      <option value="Kolkata">Kolkata</option>
				      <option value="NYC">NYC</option>
				    </select>
				  </div>
				  <div class="field">
				    <%= f.label :totalExp %><br>
				    <%= f.text_field :totalExp %>
				  </div>
				  <div class="field">
				    <%= f.label :tcsExp %><br>
				    <%= f.text_field :tcsExp %>
				  </div>
				  <div class="field">
				    <%= f.label :relExp %><br>
				    <%= f.text_field :relExp %>
				  </div>
				  <input type="hidden" name="person[allocation]" value="<%= 0 %>">
				  <div class="field">
				    <%= f.label :mobilenumber %><br>
				    <%= f.number_field :mobilenumber %>
				  </div>
				  <div class="field">
				    <%= f.label :emailid %><br>
				    <%= f.text_field :emailid %>
				  </div>
				  <div class="field">
				    <%= f.label :interestAreas %><br>
				    <%= f.text_area :interestAreas %>
				  </div>
				  <input type="hidden" name="person[active]" value="<%= "true" %>">
				  <div class="field">
				    <%= f.label :group_id %> : 
				    <input type="hidden" name="person[group_id]" value="<%= @group.id %>">
				    <%= f.label @group.name %><br>
				  </div>
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>
            </div>
            <div class="modal-footer">
        </div>
    </div>
  </div>
</div>


<div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 class="modal-title" id="myModalLabel">New Project</h4>
            </div>
            <div class="modal-body">
              <%= form_for(@project) do |f| %>
				  <% if @project.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

				      <ul>
				      <% @project.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				  <div class="field">
				    <%= f.label :name %><br>
				    <%= f.text_field :name %>
				  </div>
				  <div class="field">
				    <%= f.label :startDate %><br>
				    <%= f.text_field :startDate ,:class => 'datepicker' %>
				  </div>
				  <div class="field">
				    <%= f.label :endDate %><br>
				    <%= f.text_field :endDate ,:class => 'datepicker' %>
				  </div>
				  <input type="hidden" name="project[active]" value="true">
				  <div class="field">
				    <%= f.label :group_id %> : 
				    <input type="hidden" name="project[group_id]" value="<%= @group.id %>">
				    <%= f.label @group.name %><br>
				  </div>
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>  
            </div>
            <div class="modal-footer">
        </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
</script>