<div class="container">
<%= render 'groups/sidebar' %>
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div class="actions">
<%= f.submit "Update Name" %>
</div>
<% end %>
<br>
<% if @group.active? %>
<%= link_to 'Deactivate', @group, :class=> "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<%= link_to 'Activate', group_enable_path(@group), :class=> "btn btn-sm btn-primary", data: { confirm: 'Are you sure?' } %>
<% end %>
</div>