<h1>Listing projects</h1>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="table-responsive">
<table class="data table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Active</th>
      <% if current_user.Admin %>
      <th>Show</th>
      <th>Edit</th>
      <th>Disable</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <% if @group.id == project.group_id %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= nice_date_form(project.startDate) %></td>
        <td><%= nice_date_form(project.endDate) %></td>
        <td><%= project.active ? 'Yes' : 'No' %></td>
        <% if current_user.Admin %>
        <td>
        <%= link_to project, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-eye-open"></i>
        <% end %>
        </td>
        <td><%= link_to edit_project_path(project), class: "btn btn-default" do  %>
            <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        </td>
        <% if project.active? %>
        <td><%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do  %>
          <i class="glyphicon glyphicon-ban-circle"></i>
          <% end %>
        </td>
        <% else %>
        <td><%= link_to project_enable_path(project), data: { confirm: 'Are you sure?' } , class: "btn btn-default" do  %>
          <i class="glyphicon glyphicon-ok-circle"></i>
          <% end %>
        </td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>


