<h1>Listing projects</h1>

<table class="data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Active</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <% if @group.id == project.group_id %>
      <tr>
        <td><%= project.name %></td>
        <td><%= nice_date_form(project.startDate) %></td>
        <td><%= nice_date_form(project.endDate) %></td>
        <td><%= project.active %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <% if project.active? %>
        <td><%= link_to 'Disable', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td><%= link_to 'Enable', project_enable_path(project), data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>   |
<script type="text/javascript">
$('.data').dataTable();
</script>

