<h1>Listing projects</h1>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="table-responsive">
<table class="data table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Active</th>
      <% if current_user.Admin %>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <% if @group.id == project.group_id %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= nice_date_form(project.startDate) %></td>
        <td><%= nice_date_form(project.endDate) %></td>
        <td><%= project.active %></td>
        <% if current_user.Admin %>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <% if project.active? %>
        <td><%= link_to 'Disable', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td><%= link_to 'Enable', project_enable_path(project), data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>


