<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br>
    <%= f.text_field :startDate ,:class => 'datepicker', :value => nice_date_form(@project.startDate) %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br>
    <%= f.text_field :endDate ,:class => 'datepicker', :value => nice_date_form(@project.endDate) %>
  </div>
  <input type="hidden" name="project[group_id]" value="<%= @project.group_id %>">
  <div class="field">
    <%= f.label :group_id %><br>
    <%#= f.text_field :group_id %>
    <%= f.label Group.find(@project.group_id).name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
