<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= groups_path %>">StaffingApp</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_user.Admin? %>
          <li><a href="<%= groups_path %>">All Groups</a></li>
          <li><a href="<%= projects_path %>">All Projects</a></li>
          <li><a href="<%= people_path %>">All People</a></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path ,:method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>